.container {
  padding-top: 40px;
  animation: bounce linear 3s infinite alternate;
  margin: 0 auto;

}

// animation

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
    transform: rotate(-2deg);
  }
  100% {
    transform: translateY(-100px);
  }
}

.antennaeContainer {
  margin: 20px auto;
  width: 570px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .antennae {
    width: 5px;
    height: 90px;
    background-color: #14d173;
    border-radius: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 10px solid #006633;
    border-left: 2px solid #14d173;
    border-right: 2px solid #14d173;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.75);
    margin-bottom: -40px;

    .antennaeTip {
      position: absolute;
      top: -12px;
      left: -12px;
      width: 25px;
      height: 25px;
      background-color: #14d173;
      border-radius: 20px;
      border: 2px solid black;
      border-bottom: 0;
    }
  }
}

.antennaeRight {
  @extend .antennae;
  transform: rotate(15deg);
}

.antennaeLeft {
  @extend .antennae;
  transform: rotate(-15deg);
}

.body {
  margin: -50px auto 0;
  background: linear-gradient(to bottom, #14d173 0%, #006633 100%);
  width: 500px;
  height: 400px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 1;
  border: 2px solid black;

  .glow {
    width: 110px;
    height: 35px;
    border-top: 15px solid white;
    position: absolute;
    top: 10px;
    left: 140px;
    border-top-left-radius: 80%;
    z-index: 2;

    .glowCircle {
      border-radius: 50%;
      background: white;
      height: 15px;
      width: 15px;
      right: -10px;
      top: -15px;
      position: absolute;
    }

    .glowDot {
      border-radius: 50%;
      background: white;
      height: 15px;
      width: 15px;
      right: -35px;
      top: -15px;
      position: absolute;
    }
  }

  .shine {
    border-top: 20px solid #14d173;
    width: 496px;
    height: 357px;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    box-shadow: 0px 25px 19px -9px rgba(0, 102, 51, 1);
  }

  .eyeOuter {
    background: linear-gradient(to bottom, #ffffff 0%, #ccc 50%, #ffffff 100%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5px;

    .eyelids {
      @extend .eyeOuter;
      position: absolute;
      top: 40px;
      left: -20px;
      height: 5px;
      background: transparent;
      border-top: 20px solid #06924e;
      animation: close linear 3s infinite alternate;
    }

    @keyframes close {
      0% {
        transform: translateY(0);
        opacity: 1;
      }
      50% {
        opacity: 1;
      }
      75% {
        opacity: 1;
        border-top: 15px solid #06904c;
      }
      100% {
        opacity: 0;
        transform: translateY(20px);
      }
    }

    @keyframes shine {
      10% {
        transform: scale(0.5);
      }
    }

    .eyeInner {
      background: #1c1c1c;
      width: 50%;
      height: 50%;
      border-radius: 50%;
      position: relative;

      .eyeShine {
        background: white;
        width: 40%;
        height: 40%;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        left: 7px;
        animation: shine linear 2s infinite alternate;
      }

      .eyeShineSmaller {
        @extend .eyeShine;
        width: 20%;
        height: 20%;
        top: 20px;
        left: 18px;
      }
    }
  }

  .mouth {
    width: 50px;
    height: 30px;
    border-radius: 50%;
    border-bottom: 3px solid black;
    margin-bottom: -50px;
  }
}

.feetContainer {
  margin: -80px auto;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .feet {
    width: 100px;
    height: 110px;
    border-radius: 50%;
    background: #006633;
    border: 2px solid black;
  }
}

.feetLeft {
  @extend .feet;
  transform: rotate(-15deg);
}

.feetRight {
  @extend .feet;
  transform: rotate(15deg);
}


@media only screen and (max-width: 768px) {
  .container {
    display: none;
  }
}