@import "./../styles/variables.scss";

// General

h1 {
  font-size: 72px;
  color: #eaeaea;
  font-family: $primaryFont;
  width: 55%;
}

// contact

input,
textarea {
  display: block;
  border-radius: 6px;
  border: solid 1px #979797;
  background-color: #2b2b2b;
  width: 200px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
}

.flex {
  display: flex;
}

.social {
  display: flex;
  flex: 1;
  justify-content: space-between;

  svg {
    margin: 0 10px;
    font-size: 1.5em;
  }
}

a {
  color: #cc3399;
  svg {
    color: white;
    margin: 0 10px;
  }
  &:first-child {
    margin: 0;
  }
}

// portfolio
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.spikes {
  position: relative;
  background: #2b2b2b;
  height: 50vh;
}

.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  left: -0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 175px;
  background-size: 175px 100%;
  background-image: linear-gradient(135deg, #2b2b2b 25%, transparent 25%),
    linear-gradient(225deg, #2b2b2b 25%, transparent 25%);
  background-position: 0 0;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  .flex {
    flex-direction: column-reverse;
  }

  .social {
    flex-direction: column;
  }

  .socialIcons {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
  }
}
