@import "./../../styles/variables.scss";

nav {
  padding: $navpad;
  display: flex;
  justify-content: space-between;
  position: relative;

  .logo {
    transition: transform 350ms ease;

    &:hover {
      transform: rotate(7deg);
    }
  }

  .linksContainer {
    display: flex;
    li {
      list-style: none;
      margin: 0 20px;
      font-family: $primaryFont;
      color: $grayShadow;
      position: relative;

      a, a:visited {
        color: $grayShadow;
        text-decoration: none;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 40%;
        border-top: 1px solid #eaeaea;
        transition: width 350ms ease;
      }
    
      &:hover::after {
        width: 0;
        right: 0;
        left: auto;
        border-top: 1px solid #00ebc7;
      }
    }
  }
}
