@import "./variables.scss";

//General Styles
body,
html {
  margin: 0;
  padding: 0;
  background-color: $spacegray;
}

button {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #727272 !important;
}

.slick-slider {
  height: 200px;
}
